# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]

# -------------------------
# Jupyter
# -------------------------
**/.ipynb_checkpoints/

# -------------------------
# Conda / Virtual Environments
# -------------------------
.env
.conda
.venv/
venv/

# -------------------------
# Raw & Cache Data
# -------------------------
data/raw/
data/cache/

!data/raw/.gitkeep
!data/cache/.gitkeep

# -------------------------
# Large FITS Files
# -------------------------
*.fits
*.fits.gz

# -------------------------
# AI Models
# -------------------------
models/

# -------------------------
# Generated Results
# -------------------------
results/

# -------------------------
# Editor Settings
# -------------------------
.vscode/

# -------------------------
# Operating System Files
# -------------------------
.DS_Store
Thumbs.db
